# ── API ───────────────────────────────────────────────────
VITE_API_URL=http://localhost:5000

# ── Google OAuth ──────────────────────────────────────────
# Must match the same Client ID used in the backend
VITE_GOOGLE_CLIENT_ID=597796385367-gfnk8om4c8t3au4avnjstg4893a2kiet.apps.googleusercontent.com
